POSTGRES_DB=aruje_db
POSTGRES_USER=aruje
POSTGRES_PASSWORD=CHANGE_ME

JWT_KEY=CHANGE_ME
JWT_ISSUER=Aruje.Api
JWT_AUDIENCE=Aruje.Client
JWT_EXPIRATION_MINUTES=120

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME

RABBITMQ_DEFAULT_USER=aruje
RABBITMQ_DEFAULT_PASS=CHANGE_ME